@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Asterisk selector added to not interfere with the specific designs e.g. adding more width than wanted. */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    /* P = Primary | S = Secondary */
    --p-text: #FFFFFF;
    --p-highlight: #007A3D;
    --s-text: #000000;
    --s-highlight: #CE1126;
}

h1, h2, h3 {
    text-transform: uppercase;
    color: var(--s-highlight);
    letter-spacing: 2px;
    text-decoration: underline;
    font-weight: bolder;
    font-style: italic;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 200%;
    top: 50%;
    padding: 0.9em;
}

body {
    font-family: 'Quicksand', sans-serif;
}

header {
    border-bottom: 5px solid var(--s-text);
    width: 100vw;
    height: 30vh;
    display: flex;
}

#header1 {
    background: url("../images/header-img.jpg") no-repeat center center/cover;
}

#header1 p {
    background-color: rgba(0, 122, 61, 0.8);
    color: var(--p-text);
    text-align: center;
    padding: 10px 4px 4px 4px;
    line-height: 15px;
    vertical-align: baseline;
    font-size: 13px;
}

nav {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 2;
}

#tab-bar:checked~nav {
    display: block;
}

#tab-bar {
    display: none;
}

.tab-label {
    font-size: 2rem;
    position: fixed;
    z-index: 3;
    padding-left: 1%;
}

#navbar {
    background-color: rgba(0, 122, 61, 0.9);
    width: 18%;
    min-height: 100vh;
    border-right: 5px solid var(--s-highlight);
    position: absolute;
    list-style-type: none;
    overflow: auto;
}

#navbar a {
    display: block;
    font-family: 'Quicksand', sans-serif;
    color: var(--p-text);
    position: fixed;
    padding: 5px;
    margin: 1rem 0;
    text-decoration: none;
    left: 8px;
    width: fit-content;
    z-index: 3;
    transform: translate(15%, 15%);
}

#home-nav, #gallery-nav, #form-nav {
    padding: 1rem 0;
    margin: 1rem 0;
    height: 10vh;
    width: 10vw;
}

#home-nav > a:hover, #gallery-nav > a:hover, #form-nav > a:hover {
    color: var(--s-highlight)
}

#hide-home {
    display: none;
}

#home-nav > a:hover + #hide-home {
    display: block;
    color: var(--s-highlight);
    
}

.current {
    border: 2px solid var(--s-highlight);
    border-radius: 10%;
    padding: 1px;
}

#home-section-wrap {
    display: inline-block;
    width: 100%;
    padding: 2px;
}

.block {
    border: 2px solid var(--s-text);
    background-color: var(--p-highlight);
    color: var(--p-text);
    max-width: 70%;
    border-radius: 2%;
    margin: 2px;
    height: auto;
}

.txt-area-1 {
    position: relative;
    left: 5rem;
    top: 1rem;
    box-shadow: 0 0 6px 4px var(--s-text);
    z-index: 1;
}

.img-area {
    width: 150vw;
    position: absolute;
    height: auto;
    bottom: -54rem;
    left: 5rem;
    box-shadow: 0 0 6px 4px var(--s-highlight);
}

.img-area img {
    width: 240px;
    height: auto;
    border-radius: 2%;
    object-fit: cover;
}

.txt-area-2 {
    position: relative;
    left: 34rem;
    bottom: 10rem;
    box-shadow: 0 0 6px 4px var(--s-highlight);
}

.vid-area {
    width: 100%;
    position: absolute;
    height: auto;
}

.vid-area video {
    max-width: 100%;
    border-radius: 2%;
    max-height: fit-content;
}

footer {
    background-color: rgba(0, 122, 61, 0.9);
    border-top: 5px solid var(--s-text);
    width: 100vw; 
}
