@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Asterisk selector added to not interfere with the specific designs e.g. adding more width than wanted. */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

/* Colour section to easy style pages */
:root {
    /* P = Primary | S = Secondary */
    --p-text: #FFFFFF;
    --p-highlight: #007A3D;
    --s-text: #000000;
    --s-highlight: #CE1126;
}

body {
    font-family: 'Quicksand', sans-serif;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Title styles */
h1, h2, h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: underline;
    font-weight: bolder;
    font-style: italic;
}

h1, h2 {
    color: var(--s-highlight);
}

h1 {
    font-size: 220%;
    padding: 0.6em;
}

h2 {
    font-size: 200%;
}

h3 {
    color: var(--s-text);
}

/* Header styles */
header {
    width: 100%;
    display: flex;
    background: url("../images/header.webp") no-repeat center center/cover;
}

header p {
    background-color: rgba(0, 122, 61, 0.8);
    color: var(--p-text);
    text-align: center;
    padding: 4px 2px;
    line-height: 18px;
    font-size: 16px;
}

/* Gallery styles (header) */
#sights-title {
    margin: 0 10px;
}

#sights-h-txt {
    padding: 10px 2px;
    line-height: 18px;
    font-size: 16px;
}

/* Form styles (header) */
#register-title {
    text-align: center;
    margin: 0 7px;
}

#register-h-txt {
    padding: 14px 2px;
    line-height: 18px;
    font-size: 16px;
}


/* Navbar styles with dropout button */
nav {
    display: none;
    width: 100%;
    z-index: 2;
}

#tab-bar:checked~nav {
    display: block;
}

#tab-bar {
    display: none;
}

.tab-label {
    font-size: 200%;
    cursor: pointer;
    margin: 5px 0 0 1rem;
    position: fixed;
    z-index: 100;
}

#navbar {
    background-color: var(--p-highlight);
    width: 100%;
    min-height: 1vh;
    border-bottom: 5px solid var(--s-highlight);
    border-top: 5px solid var(--s-highlight);
    list-style-type: none;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 99;
    justify-content: space-between;
}

#navbar a {
    font-family: 'Quicksand', sans-serif;
    color: var(--p-text);
    text-decoration: none;
    padding: 5px;
    display: block;
}

#navbar i {
    font-size: 170%;
}

#home-nav, #gallery-nav, #form-nav {
    padding: 3em 0 10px;
}

#home-nav {
    padding-left: 5px;
}

#form-nav {
    padding-right: 5px;
}

#navbar a:hover {
    color: var(--s-highlight)
}

#navbar a span {
    display: none;
}

#navbar a:hover span {
    display: block;
}

.current {
    border: 2px solid var(--s-highlight);
    border-radius: 10%;
    padding: 1px;
}

/* Main styles */
.block {
    border: 2px solid var(--s-highlight);
    background-color: var(--p-highlight);
    color: var(--p-text);
    max-width: 80%;
    border-radius: 2%;
    margin: 2em 0 0 4rem;
    font-size: 18px;
}

main a {
    color: var(--s-highlight);
    font-weight: bolder;
    font-size: 20px;
}

.txt-area-1, .txt-area-2, .txt-area-3 {
    padding: 5px;
}

.txt-area-1 {
    box-shadow: 0 0 6px 4px var(--s-highlight);
}

.img-area {
    height: 20em;
    box-shadow: 0 0 6px 4px var(--s-text);
}

.img-area img {
    border-radius: 5px;
    width: 296px;
    height: 356px;
}

.txt-area-2 {
    box-shadow: 0 0 6px 4px var(--s-text);
}

.vid-area {
    width: 100vw;
    height: 30vh;
    box-shadow: 0 0 6px 4px var(--s-text);
    top: 8rem;
}

.vid-area video {
    width: 237px;
    height: 259.8px;
    border-radius: 2%;
    object-fit: fill;
}

.txt-area-3 {
    bottom: -10rem;
    box-shadow: 0 0 6px 4px var(--s-text);
}

/* Gallery styles */
#photos img {
    width: 80%;
    line-height: 1em;
    float: right;
    border-radius: 2%;
}

#photos > img {
    margin-top: 5px;
}

#photos {
    line-height: 0;
}

#external-link {
    position: absolute;
    bottom: -2.5em;
    right: -1.5em;
    margin: 5px;
    font-size: xx-large;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;
    transform: translate(-50%, -50%);
    text-shadow:
     0 1px 0 rgb(206,17,38), 
     0 2px 0 rgb(201,12,33),
     0 3px 0 rgb(196,7,28),
     0 4px 0 rgb(191,2,23),
     0 5px 0 rgb(186,0,18),
     0 6px 0 rgb(181,0,13),
     0 7px 0 rgb(176,0,8),
     0 1px 5px rgb(50, 1, 8),
     0 3px 5px rgb(55, 6, 13),
     0 5px 10px rgba(60,11,18),
     0 7px 10px rgba(65,16,23),
     0 10px 15px rgba(70,21,28);
    transition: all 0.3s ease-in-out; 
}

#external-link:hover {
    text-shadow:
    0 1px 0 rgb(206,17,38),
    0 2px 0 rgb(201,12,33),
    0 3px 0 rgb(196,7,28),
    0 4px 0 rgb(191,2,23),
    0 5px 0 rgb(186,0,18),
    0 6px 0 rgb(181,0,13),
    0 7px 0 rgb(176,0,8),
    0 8px 0 rgb(171,0,3),
    0 9px 0 rgb(166,0,0),
    0 1px 5px rgba(50,1,8),
    0 5px 5px rgba(55,6,13),
    0 10px 10px rgba(60,11,18),
    0 15px 10px rgba(65,16,23),
    0 20px 15px rgba(70,21,28);
    transform: translate(-51%,-51%);
    transition: all 0.3s ease-in-out;
}

/* Form styles */
#form {
    background: url("../images/world-map.avif");
    background-position: 60%;
    background-size: cover;
    flex-grow: 1;
    padding: 8em 5% 8em 18%;
}

#sign-up {
    color: #FFFFFF;
    background-color: rgba(0, 122, 61, 0.9);
    padding: 10px;
    /* border: 2px solid var(--s-text); */
    border-radius: 5px;
    margin: 5px;
    font-family: 'Quicksand', sans-serif;
    min-height: 110vh;
    width: 100%;
}

fieldset {
    border: 1px solid var(--p-text);
    margin: 2px 2px 25px 2px;
    padding: 2px 5px 15px 5px;
    font-family: 'Quicksand', sans-serif;
}

#form label {
    display: block;
    width: 70%;
}

.details {
    background: transparent;
    height: 30px;
    width: 97%;
    margin: 5px 2px 8px 2px;
    padding: 0 5px;
    font-family: 'Quicksand', sans-serif;
}

#adults, #child, #arrival, #depart {
    width: 65%
}

::placeholder {
    color: var(--s-text);
    opacity: 0.8;
}

#travel-details {
    max-width: 20%;
}

#packages {
    width: 70%;
    margin-bottom: 5px;
}

#board {
    width: 100%;
}

#area-wrap {
    width: 70%;
}

#area-of-stay {
    margin-top: 5px;
}

.options-label {
    margin: 5px;
}

.area-text {
    background: transparent;
    max-width: 95%;
    min-height: 100px;
    opacity: 0.6;
    border: 3px inset var(--s-text);
}

#terms-wrap {
    position: relative;
    right: -30px;
    text-align: center;
}

.form-button {
    border-radius: 4px;
    font-size: 100%;
    margin-top: 20px;
    padding: 7.5px 16px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.form-button:hover {
    background-color: var(--s-highlight);
}

.submit {
    margin-right: 18px;
    margin-left: 9px;
}

.reset {
    margin-left: 18px;
}

/* Footer styles */
footer {
    background-color: var(--p-highlight);
    border-top: 5px solid var(--s-highlight);
    width: 100%; 
}

#socials {
    text-align: center;
    padding: 25px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#socials i {
    font-size: 150%;
    padding: 4%;
    color: var(--p-text);
}

#socials i:hover {
    color: var(--s-highlight);
}

/* landscape mobiles */
@media screen and (min-width: 576px) {
    header {
        min-height: 160px;
    }

    header p {
        border-radius: 5px;
    }

    .tab-label {
        margin: 11rem 0 0 15px;
    }

    /* Home styles */
    #navbar {
        margin-top: -14px;
        max-width: 15%;
        min-height: 188.8rem;
    }

    #navbar a {
        margin: 1rem 0 1rem 10px;
    }

    #navbar a {
        padding-right: 12px;
        margin-left: 5px;
    }

    .block {
        max-width: 75%;
        left: 8rem;
    }

    .txt-area-1 {
        top: 2em;
    }

    .img-area {
        top: 5rem;
        height: 500px;
    }

    .img-area img {
        width: 425px;
        height: 496px;
    }

    .txt-area-2 {
        top: 8rem;
    }

    .vid-area {
        top: 11em;
        height: 450px;
    }

    .vid-area video {
        width: 425px;
        height: 446px;
    }

    .txt-area-3 {
        bottom: -14em;
    }

    footer {
        bottom: -22em;
    }

    /* Gallery styles */
    #sights-navbar {
        min-height: 442.5vh;
        max-width: 15%;
        margin-top: -14px;
    }

    #sights-navbar a {
        margin: 1rem 0 1rem 10px;
    }

    #photos {
        column-count: 2;
        column-gap: 0;
        margin: 0 5px 0 40px;
    }

    #external-link {
        font-size: 220%;
        bottom: -2rem;
        right: -2.5em;
    }

    #sights-footer {
        bottom: -7.9em;
    }

    /* Form styles */
    #form-navbar {
        max-width: 15%;
        min-height: 384.5vh;
        margin-top: -14px;
    }

    #form-navbar a {
        margin: 1rem 0 1rem 10px;
    }

    #sign-up {
        position: relative;
        right: 10px;
    }

    #adults, #child, #arrival, #depart {
        width: 97%;
    }

    .area-text {
        min-width: 98%;
    }

    #travel-details {
        min-width: 100%;
    }

    #packages {
        min-width: 100%;
    }

    #area-wrap {
        width: 100%;
    }

    .options-label {
        width: 60%;
        display: inline;
    }

    #terms-wrap {
        right: 0;
    }

    label[for="terms"] {
        display: inline;
    }

    #terms {
        margin-right: 5px;
    }

    .form-button {
        width: 100%;
        font-size: x-large;
        margin: 5px 0;
    }

    .form-button:hover {
        background-color: var(--s-highlight);
    }
}

/* Tablets and bigger */
@media screen and (min-width: 768px) {
    /* Home styles */
    header p {
        font-size: 20px;
        padding: 15px 2px;
        line-height: 20px;
    }

    .tab-label {
        margin: 20rem 0 0 25px;
    }

    #navbar {
        max-width: 13.8%;
        min-height: 301.39vh;
        margin-top: 8.3em;
    }

    #navbar a {
        margin: 1rem 0 1rem 10px;
        padding-right: 5px;
        font-size: 160%;
    }

    .block {
        max-width: 80%;
    }

    .img-area img {
        width: 606px;
    }

    .vid-area video {
        width: 606.5px;
    }

    /* Gallery styles */
    #sights-h-txt {
        font-size: 20px;
        line-height: 20px;
        margin-left: 10px;
        padding: 10px 2px;
    }

    #sights-navbar {
        max-width: 13.8%;
        min-height: 192.8vh;
        margin-top: 8.3em;
    }

    #sights-navbar a {
        font-size: 160%;
    }

    #external-link {
        font-size: 300%;
    }

    /* Form styles */
    #register-h-txt {
        font-size: 20px;
        line-height: 20px;
    }

    #form-navbar {
        max-width: 13.8%;
        min-height: 135.7vh;
        margin-top: 8.3em;
    }

    #form-navbar a {
        font-size: 160%;
    }

    #sign-up {
        font-size: 110%;
    }

    fieldset {
        padding-left: 15px;
    }

    legend {
        font-size: 20px;
    }

    ::placeholder {
        font-size: 15px;
    }

    input[type="checkbox"] {
        /* Increase-sized checkboxes */
        -ms-transform: scale(1.5); /* IE */
        -moz-transform: scale(1.5); /* FF */
        -webkit-transform: scale(1.5); /* Safari and Chrome */
        -o-transform: scale(1.5); /* Opera */
        transform: scale(1.5);
    }

    select {
        font-size: 18px;
    }

    #terms-wrap {
        font-size: 150%;
    }

    .form-button {
        margin-top: 10px;
    }

    .submit {
        margin-top: 20px;
    }
}

/* Large tablets and laptops */
@media screen and (min-width: 992px) {
    h2 {
        font-size: 220%;
    }

    .tab-label {
        margin: 26rem 0 0 35px;
    }

    /* Home styles */
    h1 {
        font-size: 250%;
    }

    header p {
        font-size: 24px;
        line-height: 25px;
    }

    #navbar {
        margin-top: 14.7em;
        max-width: 12%;
        min-height: 247.14vh;
    }

    #navbar a {
        font-size: 170%;
        margin-left: 25px;
    }

    .block {
        max-width: 85%;
        left: 7.2em;
    }

    .img-area {
        height: 600px;
    }

    .img-area img {
        height: 595px;
        width: 835px;
    }

    .vid-area {
        top: 10em;
        height: 550px;
    }

    .vid-area video {
        width: 836px;
        height: 546.5px;
    }

    .txt-area-3 {
        bottom: -13em;
    }

    /* Gallery styles */

    #sights-h-txt {
        font-size: 24px;
        line-height: 25px;
    }

    #sights-navbar {
        margin-top: 14.7em;
        max-width: 12%;
        min-height: 185.5vh;
    }

    #sights-navbar a {
        font-size: 170%;
        margin-left: 20px;
    }

    #photos {
        margin-right: 15px;
    }

    #external-link {
        font-size: 400%;
    }

    /* Form styles */
    #register-h-txt {
        font-size: 24px;
        line-height: 25px;
    }

    #form-navbar {
        margin-top: 14.7em;
        max-width: 12%;
        min-height: 119.3vh;
    }

    #form-navbar a {
        font-size: 170%;
        margin-left: 20px;
    }

    #sign-up {
        font-size: 140%;
        padding-right: 5px;
        min-height: 100vh;
    }

    fieldset {
        margin-right: 10px;
    }

    #travel-details {
        min-width: 98.5%;
    }

    legend {
        font-size: 25px;
    }

    ::placeholder {
        font-size: 20px;
    }

    input[type="checkbox"] {
        /* Increase-sized checkboxes */
        -ms-transform: scale(1.8); /* IE */
        -moz-transform: scale(1.8); /* FF */
        -webkit-transform: scale(1.8); /* Safari and Chrome */
        -o-transform: scale(1.8); /* Opera */
        transform: scale(1.8);
    }

    .options-label {
        letter-spacing: 3px;
    }

    #terms-wrap {
        margin: 45px 0 15px 0;
    }

    #terms-wrap a {
        font-size: 100%;
    }

    .form-button {
        font-size: xx-large;
        width: 99%;
    }
}

/* Large screens */
@media screen and (min-width: 1200px) {
    .tab-label {
        font-size: 300%;
        margin-bottom: 2em;
    }

    /* Home styles */
    h1 {
        font-size: 400%;
    }

    header p {
        font-size: 26px;
        padding: 15px 8px;
    }

    #navbar {
        width: 10%;
        height: 267vh;
    }

    #home-nav, #gallery-nav, #form-nav {
        margin: 5rem 0;
    }

    #home-nav {
        margin-top: 15em;
    }

    #navbar a {
        font-size: 200%;
    }

    .block {
        max-width: 45%;
        min-height: 600px;
    }

    .txt-area-1 {
        left: 40em;
        z-index: 1;
    }

    .img-area {
        left: 10em;
        top: 10px;
        max-width: 42em;
        min-height: 37em;
    }

    .img-area img {
        width: 751px;
        height: 661px;
    }

    .txt-area-2 {
        left: 40em;
        z-index: 1;
        bottom: 20em;
    }
}