@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Asterisk selector added to not interfere with the specific designs e.g. adding more width than wanted. */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* Colour section to easy style pages */
:root {
    /* P = Primary | S = Secondary */
    --p-text: #FFFFFF;
    --p-highlight: #007A3D;
    --s-text: #000000;
    --s-highlight: #CE1126;
}

body {
    font-family: 'Quicksand', sans-serif;
    position: relative;
}

/* Title styles */
h1, h2, h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: underline;
    font-weight: bolder;
    font-style: italic;
}

h1, h2 {
    text-align: center;
    color: var(--s-highlight);
}

h1 {
    font-size: 200%;
    top: 50%;
    padding: 0.9em;
}

h3 {
    color: var(--s-text);
}

/* Header styles */
header {
    border-bottom: 5px solid var(--s-text);
    width: 100vw;
    height: 30vh;
    display: flex;
}

#header1 {
    background: url("../images/header-img.jpg") no-repeat center center/cover;
}

#header1 p {
    background-color: rgba(0, 122, 61, 0.8);
    color: var(--p-text);
    text-align: center;
    padding: 10px 4px 4px 4px;
    line-height: 15px;
    vertical-align: baseline;
    font-size: 13px;
}

/* Navbar styles with dropout button */
nav {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 2;
}

#tab-bar:checked~nav {
    display: block;
}

#tab-bar {
    display: none;
}

.tab-label {
    font-size: 2rem;
    position: fixed;
    z-index: 3;
    padding-left: 1%;
    cursor: pointer;
}

#navbar {
    background-color: rgba(0, 122, 61, 0.9);
    width: 18%;
    min-height: 100vh;
    border-right: 5px solid var(--s-text);
    position: absolute;
    list-style-type: none;
    overflow: auto;
}

#navbar a {
    display: block;
    font-family: 'Quicksand', sans-serif;
    color: var(--p-text);
    position: fixed;
    padding: 5px;
    margin: 1rem 0;
    text-decoration: none;
    left: 8px;
    width: fit-content;
    z-index: 3;
}

#navbar i {
    font-size: 170%;
}

#home-nav, #gallery-nav, #form-nav {
    padding: 2rem 0;
    margin: 2rem 0;
}

#home-nav > a:hover, #gallery-nav > a:hover, #form-nav > a:hover {
    color: var(--s-highlight)
}

#home-nav a span, #gallery-nav a span, #form-nav a span {
    display: none;
}

#home-nav a:hover span, #gallery-nav a:hover span, #form-nav a:hover span {
    display: block;
}

.current {
    border: 2px solid var(--s-highlight);
    border-radius: 10%;
    padding: 1px;
}

#home-section-wrap {
    display: inline-block;
    width: 100%;
    padding: 2px;
}

/* Main styles */
.block {
    border: 2px solid var(--s-text);
    background-color: var(--p-highlight);
    color: var(--p-text);
    max-width: 70%;
    border-radius: 2%;
    margin: 2px;
    height: auto;
}

main a {
    color: var(--s-highlight);
    font-weight: bold;
}

.txt-area-1 {
    position: relative;
    left: 5rem;
    top: 1rem;
    box-shadow: 0 0 6px 4px var(--s-text);
    z-index: 1;
}

.img-area {
    width: 153vw;
    position: absolute;
    height: 41.3vh;
    top: 86rem;
    left: 5rem;
    box-shadow: 0 0 6px 4px var(--s-text);
}

.img-area img {
    width: 240px;
    height: auto;
    border-radius: 2%;
    object-fit: cover;
}

.txt-area-2 {
    position: relative;
    left: 5rem;
    top: 27rem;
    box-shadow: 0 0 6px 4px var(--s-text);
    z-index: 1;
}

.vid-area {
    width: 100vw;
    position: absolute;
    height: 15.5vh;
    box-shadow: 0 0 6px 4px var(--s-text);
    left: 5rem;
    top: 173rem;
}

.vid-area video {
    width: 240px;
    height: auto;
    border-radius: 2%;
    object-fit: fill;
}

.txt-area-3 {
    position: relative;
    left: 5rem;
    bottom: -39rem;
    box-shadow: 0 0 6px 4px var(--s-text);
    z-index: 1;
}

footer {
    background-color: rgba(0, 122, 61, 0.9);
    border-top: 5px solid var(--s-text);
    width: 100vw;
    bottom: -45rem;
    position: absolute; 
}

#socials {
    text-align: center;
    padding: 25px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#socials i {
    font-size: 150%;
    padding: 4%;
    color: var(--p-text);
}

#socials i:hover {
    color: var(--s-highlight);
}
